# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
Binaries

# mstest test results, debug output
TestResults
test*.png
output.csv

# windows, visual studio
*.swp
*.suo
*.user
desktop.ini

# latex
*.aux
*.log
*.gz
*.pdf
src/packages
